.verify-card {
  max-width: 420px;
}

.btn-primary {
  background-color: #3730a3;
  border-color: #3730a3;

  &:hover,
  &:focus,
  &:active {
    background-color: #312e81 !important;
    border-color: #312e81 !important;
  }
}

.btn-outline-primary {
  color: #3730a3;
  border-color: #3730a3;

  &:hover,
  &:focus,
  &:active {
    background-color: #3730a3 !important;
    border-color: #3730a3 !important;
    color: #ffffff !important;
  }
}

.text-primary {
  color: #3730a3 !important;
}
