<div class="mb-3">
  @if (label) {
  <label [for]="id" class="form-label">
    {{ label }}
  </label>
  }

  <input
    [id]="id"
    type="email"
    class="form-control rounded-3"
    [class.is-invalid]="control.invalid && control.touched"
    [placeholder]="placeholder"
    [formControl]="control"
    autocomplete="email"
  />

  @if (control.invalid && control.touched) {
  <div class="invalid-feedback d-block">
    @if (control.errors?.['required']) {
    {{ label || 'Email' }} is required. } @else if (control.errors?.['email'] ||
    control.errors?.['pattern']) { Please enter a valid email address. }
  </div>
  }
</div>
