<div class="mb-3">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <label [for]="id" class="form-label mb-0">
      {{ label }}
    </label>

    @if (showForgotLink) {
    <a [routerLink]="forgotLink" class="small fw-semibold text-decoration-none text-primary">
      Forgot password?
    </a>
    }
  </div>

  <div class="input-group">
    <input
      [id]="id"
      [type]="showPass() ? 'text' : 'password'"
      class="form-control rounded-start-3"
      [class.is-invalid]="control.invalid && control.touched"
      [placeholder]="placeholder"
      [formControl]="control"
      [attr.autocomplete]="autocomplete"
    />

    <button
      type="button"
      class="btn btn-outline-secondary rounded-end-3"
      (click)="togglePass()"
      [attr.aria-label]="showPass() ? 'Hide password' : 'Show password'"
    >
      <i class="bi" [class.bi-eye-slash]="!showPass()" [class.bi-eye]="showPass()"></i>
    </button>

    @if (control.invalid && control.touched) {
    <div class="invalid-feedback d-block">
      @if (control.errors?.['required']) {
      {{ label }} is required. } @else if (control.errors?.['minlength']) { {{ label }} must be at
      least {{ control.errors?.['minlength'].requiredLength }} characters. } @else if
      (control.errors?.['pattern']) { {{ label }} must include at least one uppercase letter, one
      lowercase letter, one number, and one special character. }
    </div>
    }
  </div>
</div>
